body { margin: 0; padding: 0; }

.profile-photo { border-radius: 50%; }

/* desktop */
#container { display: flex; align-items: stretch; height: 100vh;  }

nav { background-color: #059CD5; }
nav ul, nav li { display: inline-block; list-style-type: none; margin: 0; padding: 0; }
nav li a {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
}
nav li a .profile-photo { padding: 13px; }
nav li a svg { padding: 13px; }
nav li a#home svg { padding: 5px; }
nav li a.selected { background-color: #026894; }
nav li a:hover { background-color: #0482B5; }
main { flex-grow: 1; }

@media (orientation : portrait) {
    #container { flex-direction: column-reverse; }
    nav { height: 50px; width: 100vw; }
    nav ul li { text-align:center; width: 25vw; }
}
@media (orientation : landscape) {  
    #container { flex-direction: row; }
    nav { height: 100vh; width: 50px; }
    nav ul li { padding: calc((100vh - 200px) / 8) 0; }
}
@media (orientation : landscape) and (min-height:641px)  {
    nav ul li { padding: 0; }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
